# ============================================
# .env.example - TEMPLATE PARA DESENVOLVIMENTO
# COPIE para .env.local e preencha os valores
# NÃO COMMITAR .env.local NO GIT!
# ============================================

# BANCO LOCAL
DB_USER=postgres
DB_HOST=localhost
DB_NAME=SneakerLabsDB
DB_PASSWORD=senai
DB_PORT=5432

# SERVIDOR LOCAL
NODE_ENV=development
PORT=3001

# QUEUE SMART 4.0
MIDDLEWARE_URL=http://52.72.137.244:3000

# URL DO BACKEND
BACKEND_URL=http://localhost:3001